
<div class="bg-gray-50 dark:bg-gray-800">
  <%= render 'admin/dashboard/layout/navbar' %>>

  <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    <%= render 'admin/dashboard/layout/sidebar' %>

    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
      <main>

        <%= render 'admin/dashboard/layout/dashboard' %>>

      </main>

      <%= render 'admin/dashboard/layout/footer' %>>

    </div>

  </div>


</div>